/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/.idea
/bin
/var
/app/bootstrap.php.cache
/web/.htaccess
/web/app.php
/web/app_dev.php
/web/config.php
/web/robots.txt
/web/images/products