<!DOCTYPE html>

<html>

    <head>
        <meta charset="UTF-8" />
        <meta name="keywords" content="{% block motCles %}{% endblock %} }}"/>
        <meta name="description" content="
        {% block description %}
            Si tu es un étudiant de l'université de Franche-Comté, que tu as été absent et que tu souhaites justifier cela, alors tu es au bon endroit.
            Il te suffit juste de te connecter avec tes pseudo et mot de passe habituels et tu accèderas à tes absences.
        {% endblock %} }}"/>
        <title>{% block title %}IUT de Belfort-Montbélliard{% endblock %}</title>
        {% stylesheets filter='cssrewrite, ?scssphp'
            'bundles/framework/css/bootstrap.min.css'
            'bundles/framework/css/my_style.css'
            'bundles/framework/css/bootstrap-datetimepicker.min.css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
        {% endstylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body>

    {% block body %}{% endblock %}

    {% javascripts filter='jsqueeze'
        'bundles/framework/js/jquery.js'
        'bundles/framework/js/bootstrap.min.js'
        'bundles/framework/js/bootstrap-datetimepicker.min.js'
        'bundles/framework/js/bootstrap-filestyle.min.js'
        'bundles/app.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    </body>

</html>
